<launch>
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vins)/../config/vins_rviz_config.rviz" />

    <param name="use_sim_time" value="true" />
    <node name="img0_republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/camera_d435i/infra1/image_rect_raw out:=/camera_d435i/infra1/image" />
    <node name="img1_republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/camera_d435i/infra2/image_rect_raw out:=/camera_d435i/infra2/image" />
    <node pkg="vins" type="vins_node" name="vins_node">
        <rosparam file="/home/swarm/catkin_ws/src/VINS-Fusion/config/realsense_d435i/realsense_stereo_imu_config_3_launch.yaml" />
    </node>
    <!-- <slerp/> -->
    <!--fast-->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="vinsbody_to_viconbody" args="2.700, -3.232, 0.300 0 0 -0.7071068 0.7071068 world vins_world" /> -->
    <!--slow-->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="vinsbody_to_viconbody" args="2.662, -3.472, 0.299 0 0 0.7071068 0.7071068 world vins_world" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="vinsbody_to_viconbody" args="4.258, -3.272, 0.310  0, 0, 0.7071068, -0.7071068 world vins_world" /> -->
    <node pkg="navigation_scripts" name="static_tf_publisher_something" type="staticTfPub.py" output="screen" />
    <node pkg="navigation_scripts" name="vicon_path_node" type="createpath.py" output="screen" />
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="vinsbody_to_viconbody" args="2.662, -3.472, 0.299, -0.0968037, 0.0996474, 0.7051584, 0.6953064 world vins_world" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="vinsbody_to_viconbody" args="4.26 -3.28 0.31  -0.5, 0.5, -0.5, 0.5 world vins_world" /> -->

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="vinsbody_to_viconbody" args="0 0 3 0 0 0 1 world vins_world" /> -->


    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="vinsbody_to_viconbody" args="4.031493937418253 -0.7976182793698916 -1.9857702246883986 -0.41719656  0.43793169 -0.59988363  0.52373896 world vins_world" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="vins_to_vicon" args="3.413 -2.578 -1.205 -0.047 -0.593 0.798 -0.095 JA01 camera" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="vins_to_vicon" args="3.9793766429579405 -0.8178264161059747 -1.9891095280386129 -0.41729267 0.43851496 -0.60220991 0.52049465 world vins_world" />  -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="vins_to_vicon" args="4.302590459631403 1.127336316701561 -0.7546286690977129 -0.21596568  0.00469071 -0.22609644  0.94985116 world vins_world 10" /> -->

    
</launch>   
